/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    font-family: "Times New Roman", Times, Fantasy;
    background-color: #0000007e;
    color: #fff;
    padding: 5px 0px 10px 20px;
    /* text-align: left; */
}




.Home {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Change color as needed */
}

/* Adjust margin if necessary */
img {
    margin-right: 10px; /* Adjust as needed */
}

.BHA {
    background-color: #1154e3;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.BHA:hover {
    background-color:#03349c;
}


.Hlbutton{
    font-family: "Times New Roman", Times, Fantasy;
    font-size: 17px;
    background-color: #433f3f;
    border: none;
    padding: 10px 5px;
    color:  #555;
    position: absolute; 
    top: 25px;
    right:185px ;
    border-radius: 10px;
    
}
.Hlbutton:hover {
    background-color:#242222;
}
.Hbutton{
    font-family: "Times New Roman", Times, Fantasy;
    font-size: 19px;
    background-color: #e8e110;
    border: none;
    padding: 10px 5px;
    color: #FFE800;
    position: absolute;
    top: 23px;
    right: 10px;
    border-radius: 10px;
    }
.Hbutton:hover {
        background-color:#c2bd2d;
    } 
    nav {
        text-align: center;
        /* position:fixed; */
        top:67px;
        left: 0;
        right: 0;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        
    }

header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
}



.container1 {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    
}

.btn-container {
    text-align: center;
    margin-top: 50px;
    color: black;
    
}




.btn:hover {
    background-color: #555;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.selected {
    background-color: #555 !important;
}


