body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 50px;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    margin-left: auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
}

.form-group button:hover {
    opacity: 0.8;
}

p.register_now{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.container a {
    color: blue; /* Change link color to blue */
}
